<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/ThinkPad/IdeaProjects/Seleniu_test/src/com/seleniumtest/TakeawayCase.java">
        <classes>
            <class name="com.seleniumtest.TakeawayCase1">
                <methods>
                    <include name="testCase1"/>
                </methods>
            </class>
             <class name="com.seleniumtest.TakeawayCase2">
                 <methods>
                     <include name="testCase2"/>
                 </methods>
             </class>
        </classes>
    </test>
</suite>